/* -------- Reseto general y para pisar estilos del bootstrap-------------- */
/* * {
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    align-self: center;
    line-height: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
    cursor: pointer;
} */
/* --------------- Header  -------------- */
/*header{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 1em;
    background-color: black;
}
header div{
    color: aliceblue;
}
header div nav ul{
    display: inline-flex;
    margin-bottom: 0rem;} /*Correccion al bootstrap*/
/*
header div nav ul li{
    padding-inline: 1em;
    color: aliceblue;
}
*/
/* ---------------- Title ---------------------*/
/*h1{
    font-size: 2rem;
    text-align: center;
    margin: 2em;
}
h2{
    font-size: 1.5rem;
    padding: 1em;
}
*/
/* ------------------ Container -----------------*/
/*.sect {
    background-color:darkseagreen;
    margin: 1em;
    border-radius: 1em;
}
*/
/* ---- Pool de mensajes ----*/
/*#msgsPool{
    background-color: white;
    border-radius: 0.5em;
    margin: 1em;
    margin: 0;
}
#msgsPool .msgsPool-user{
    font-weight: bold;
    color: blue;
}
#msgsPool .msgsPool-date{
    color: brown;
}
#msgsPool .msgsPool-msg{
    font-style: italic;
    color: green;
}*/
/* ---- Formulario de mensajes ----*/
/*#msgForm{
    padding: 1em;
}*/